p::first-letter{
    color: aqua;
    font-size: 5em;
}

p::first-line{
    color: red;
    
}

li{
    list-style: none;
}

li::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./images/png-transparent-google-logo-g-suite-google-guava-google-plus-company-text-logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p::selection{
    background-color: yellow;
    color: red;
    
}