body{
    margin: 0;
    padding: 0;
    background-color: red;
}

.conteiner{
    width: 100%;
    background-color: blue;
   
}

.primeira{
    position: relative;
    display: inline-block;
    width: calc(100% - 200px);
    height: 300px;
    background-color: yellow;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: -4px;
}


.segunda{
    display: inline-block;
    margin-left: -4px;
    margin-bottom: -4px;
    width: 200px;
    height: 300px;
    background-color: yellowgreen;
}