input:focus {
    color: red;
}

li{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

li:nth-of-type(even){
    background-color: teal;
    
}

li:nth-of-type(odd){
    background-color: yellowgreen;
    color: white;
}